*
  padding: 0
  margin: 0
  font-family: 'Roboto', sans-serif
  box-sizing: border-box

body
  color: rgba(0, 0, 0, .87)
  background-color: #fafafa

h1, h2, h3, h4, h5, h6
  font-family: 'IBM Plex Serif', serif

button, input, textarea
  background: none
  border: none
  outline: none

a
  text-decoration: none
  outline: none
  color: currentColor
li
  list-style: none
img
  display: block
  max-width: 100%
