.news-bar
  padding: 2rem
  background-color: #fff
  &-title
    margin-bottom: 2rem
    text-transform: capitalize
  .news-list
    .bit
      .bit-inner-wrap
        grid-template-columns: auto 1fr
        .image-wrap
          width: 5rem
          height: 5rem
          margin-right: 1rem
        .bit-info
          padding: 0
        .bit-category
          display: none
        .bit-title
          font-size: 1rem
          margin-bottom: .25rem
        .bit-details
          padding: 0

