.news-bar
  padding: 2rem
  background-color: #fff
  &-title
    margin-bottom: 2rem
    text-transform: capitalize
  .news-list
    .bit
      grid-template-columns: auto 1fr
      .image-wrap
        width: 5rem
        height: 5rem
        margin-right: 1rem
      &-info
        padding: 0
      &-category
        display: none
      &-title
        font-size: 1rem
        margin-bottom: .25rem
      &-details
        padding: 0

